<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unitcoverter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/units"
        android:label="@string/app_name"
        android:roundIcon="@drawable/units"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitCoverter">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".KiloToPounds"/>
        <activity android:name=".KmphToMps"/>
        <activity android:name=".FarenhietToCelcius"/>
        <activity android:name=".LitresToMl"/>
        <activity android:name=".KgToGrms"/>
        <activity android:name=".MetresToCm"/>
        <activity android:name=".FeetToCm"/>
        <activity android:name=".FeetsToInches"/>
        <activity android:name=".InchesToCm"/>

    </application>

</manifest>